.thumbnail
    img(src='...', alt='...')
    .caption
        h4
            span.badge.pull-right= observation.howMany
            | #{' ' + observation.sciName + ' '}
            br
            small= observation.sciName
        dl.dl-horizontal.no-left-margin
            dt Where
            dd= observation.locName
            dt When
            dd= new Date(observation.obsDt).toLocaleString()