// Created by jake on 4/8/15.

.container
    .row
        .col-md-offset-3.col-sm-offset-3.col-xs-offset-3.col-md-6.col-sm-6.col-xs-6
            each item in items
                .media
                    .media-left
                        - var search = item.sciName.replace(' ', '+');
                        a(href='https://www.google.com/search?q=' + search + '&tbm=isch', target='_blank')
                            img.media-object(src='images/camera-retro.png', alt='...')
                    .media-body
                        h4.media-heading.text-center
                            span.badge= item.howMany
                            | #{' ' + item.comName + ' '}
                            small= item.sciName
                        dl.dl-horizontal
                            dt Where
                            dd= item.locName
                            dt When
                            dd= new Date(item.obsDt).toLocaleString()
                        pre= JSON.stringify(item, null, 2)
