.thumbnail
    - var search = observation.sciName.replace(' ', '+');
    a(href='https://www.google.com/search?q=' + search + '&tbm=isch', target='_blank')
        img(src='images/camera-retro100.png', alt='...')
    .caption
        h4
            span.badge.pull-right= observation.howMany
            | #{' ' + observation.sciName + ' '}
            br
            small= observation.sciName
        dl.dl-horizontal.no-left-margin
            dt Where
            dd= observation.locName
            dt When
            dd= new Date(observation.obsDt).toLocaleString()